.articleboss {
  margin: 30px auto;
  width: 1200px;
}

.article1,
.article2,
.article3 {
  display: inline-block;
  width: 31.1%;
  height: 200px;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  z-index: 0;
}

.article1 {
  background: rgb(245,183,168);
  background: linear-gradient(90deg, rgba(245,183,168,1) 12%, rgba(245,172,185,1) 34%);
  margin-right: 3%;
}

.article2 {
  background: rgb(130,185,240);
  background: linear-gradient(90deg, rgba(130,185,240,1) 25%, rgba(85,135,232,1) 57%);
}

.article3 {
  background: rgb(41,231,184);
  background: linear-gradient(90deg, rgba(41,231,184,1) 32%, rgba(67,172,141,1) 57%);
  margin-left: 3%;
}

.name,
.smallimg {
  display: inline-block;
  top: 35px;
}

.smallimg {
  right: 35px;  
}

.name,
.count,
.percent {
  font-family: Arial, Helvetica, sans-serif ;
  color: white;
  font-size: 20px;
  left: 35px;
  font-weight: 500; 
}

.count {
  font-size: 30px;
  font-weight: 600;
  top: 65px;
}

.percent {
  bottom: 35px;
  font-size: 18px;
}

.absolute {
  position: absolute;
}

.whitecrl1,
.whitecrl2 {
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 1;
  opacity: 0.3;
}

.whitecrl1 {
  bottom: -90px;
  right: -15px;
}

.whitecrl2 {
  top: -50px;
  right: -80px;
}