.divboss {
  margin-top: 20px;
}

.div1,
.div2,
.div3 {
  display: inline-block;
  width: 31%;
  height: 200px;
  margin: 0 auto;
  border-radius: 10px;
}

.div1 {
  background: rgb(245,183,168);
  background: linear-gradient(90deg, rgba(245,183,168,1) 12%, rgba(245,172,185,1) 34%);
  margin-right: 3%;
}

.div2 {
  background: rgb(130,185,240);
  background: linear-gradient(90deg, rgba(130,185,240,1) 25%, rgba(85,135,232,1) 57%);
}

.div3 {
  background: rgb(41,231,184);
  background: linear-gradient(90deg, rgba(41,231,184,1) 32%, rgba(67,172,141,1) 57%);
  margin-left: 3%;
}

.name,
.smallimg {
  display: inline-block;
  }